body,
.App,
#root {
  height: 100%;
}
.login {
  display: flex;
  height: 100%;
  background-color: #212529;
}

.login main {
  height: 600px;
  width: 990px;
  margin: auto;
  padding: 0;
  display: flex;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.login-box > h1 {
  width: 340px;
  font-size: 38px;
  flex-wrap: wrap;
  color: white;
  text-align: start;
}

.login-box > p {
  font-size: 16px;
  color: white;
}

.login .kenzie {
  color: white;
}

.login-box > button {
  width: 240px;
  background-color: #fd377e;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}
